:root {

  --clr-primary: #9B582E;
  --clr-secondary: hsl(31, 84%, 43%);
  --clr-tertiary: #FBF4DF;
  
  --clr-neutral-300: #6E6E6E;
  --clr-neutral-800: hsl(0, 0%, 24%);
  --clr-neutral-900: hsl(0, 0%, 13%);

  --clr-light-orange: hsl(25, 71%, 92%);
  --clr-light-yellow: hsl(45, 79%, 89%);
  --clr-lighter-yellow:  hsl(45, 78%, 93%);
  --clr-body-background: hsl(42, 81%, 96%);
  --clr-accent: #533019;

  --clr-buttons: #CA7111;

}