.dessert-details-section {
  padding-top: 40px;
  margin-inline: 40px;
  background-color: var(--clr-tertiary);
  border-radius: 32px;
  padding-bottom: 32px;

  .section-heading {
    display: grid;
    place-items: center;
    margin-bottom: 40px;

      .description {
        text-transform: uppercase;
      }
  }

  .dessert-cards-holder {

    .dessert-detailed-card{
      border-radius: 16px;
      padding: 64px 24px;
      display: grid;
      grid-template-columns: auto 3fr 3fr;
      place-items: center;
      column-gap: 24px;
      background-color: #fff;

      &:not(:last-child) {
        margin-bottom: 48px;
      }

      &:last-child {
        margin-bottom: 15px;
      }

      .dessert-image {
        max-width: 370px;
        max-height: 370px;
      }

      .tertiary-heading {
        font-size: var(--fs-700);
        margin-bottom: 24px;
      }
      
      .description {
        font-size: var(--fs-200);
        margin-bottom: 12px;
      }

      .main-ingridients {
        font-size: var(--fs-200);  
      }

      .dessert-nutrients {
        background-color: var(--clr-light-orange);
        border-radius: 32px;
        padding: 48px 32px;


        .grid-row {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 16px;
          &:not(:last-child) {
            margin-bottom: 8px;
          }
          .nutrient-box {

          
            .nutrient-name {
              color: var(--clr-neutral-300);
              margin-bottom: 8px;
            }
  
            .nutrient-amount{
              margin-top: -15px;
              color: var(--clr-neutral-900);
            }
          }
        }
      }
    }
  }

  .section-cta {
    background-color: var(--clr-light-yellow);
    padding: 32px;
    border-radius: 8px;
    display: flex;
    gap: 32px;
    justify-content: space-between;

    .description {
      max-width: 972px;
    }
  }
}

@media (max-width: 1050px) {
  .dessert-details-section {
  
    .dessert-cards-holder {
  
      .dessert-detailed-card{
        grid-template-columns: auto 3fr ;
        text-align: center;
        .dessert-nutrients {
          grid-column: span 2;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .dessert-details-section {
    margin-inline: 0px;
    .dessert-cards-holder {
  
      .dessert-detailed-card {
        grid-template-columns: 1fr ;

        .dessert-image {
          max-width: 240px;
          max-height: 240px;
        }

        .dessert-nutrients {
          margin-top: 32px;
          grid-column: span 1 ;
        }
      }
    }
  }
}